<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterNewStudentServlet</servlet-name>
        <servlet-class>controller.RegisterNewStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentProfileServlet</servlet-name>
        <servlet-class>controller.StudentProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>controller.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllStudents</servlet-name>
        <servlet-class>controller.ListAllStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudent</servlet-name>
        <servlet-class>controller.UpdateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentProfile</servlet-name>
        <servlet-class>controller.StudentProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentGradesServlet</servlet-name>
        <servlet-class>controller.ListStudentGradesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentGradesServlet</servlet-name>
        <servlet-class>controller.UpdateStudentGradesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterNewStudentServlet</servlet-name>
        <url-pattern>/RegisterNewStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentProfileServlet</servlet-name>
        <url-pattern>/StudentProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllStudents</servlet-name>
        <url-pattern>/ListAllStudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudent</servlet-name>
        <url-pattern>/UpdateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentProfile</servlet-name>
        <url-pattern>/StudentProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentGradesServlet</servlet-name>
        <url-pattern>/ListStudentGradesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentGradesServlet</servlet-name>
        <url-pattern>/UpdateStudentGradesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
